{% extends "shop/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm" action="">
                <div class="card-body row no-guitters align-items-center">
                    <div class="col">
                        <input type="search" name="item-name" class="form-control form-control-borderless" placeholder="research">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Recherche</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for product in product_object %}
        <div class="col-md-3 pt-3" >
            <div style="object-fit: cover; height: 100%; width: 100%;" class="card">
                <img style="object-fit: cover; width: 100%; height: 100%;" src="{{ product.image }}" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">{{ product.title }}</div>
                    <div class="card-text text-warning">{{ product.price }} FCFA</div>
                    <a href="{{ product.id }}" class="btn btn-warning">Voir</a>
                    <button id="{{ product.id }}" class="btn btn-success ted">Ajouter</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row mt-3">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if product_object.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page= {{product_object.previous_page_number}}"> Précédent </a>
                    </li>
                {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="?page={{ product_object.number }}"> {{ product_object.number }} </a>
                    </li>

                {% if product_object.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page= {{product_object.next_page_number}}"> suivant </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script type="text/javascript">
        console.log('just for testing');
        if(localStorage.getItem('panier') == null){
            var panier = {};
        }else{
            panier = JSON.parse(localStorage.getItem('panier'));
        }
        $(document).on('click', '.ted', function(){
            console.log('ajouter');
            var item_id = this.id.toString();
            console.log(item_id)
        })
    </script>
{% endblock js %}